<h2> New Comment </h2>
<%= form_for @comment do |f| %>
  <%= f.collection_radio_buttons :user_id, User.all, :id, :username %>
  <%= f.label :content %>
  <%= f.text_area :content %>
<%= f.submit %>
<%end%>
